server {
    listen 80;
    server_name {{ server_domain_or_IP }};

    # ========== FIX OPENAPI FOR EMBEDDING ==========
    location /embedding/openapi.json {
        proxy_pass http://127.0.0.1:{{ embedding_port }}/embedding/openapi.json;
    }

    # Embedding API
    location /embedding/ {
        proxy_pass http://127.0.0.1:{{ embedding_port }}/;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection keep-alive;
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }

    # ========== FIX OPENAPI FOR REPORTING ==========
    location /reporting/openapi.json {
        proxy_pass http://127.0.0.1:{{ reporting_port }}/reporting/openapi.json;
    }

    # Reporting API
    location /reporting/ {
        proxy_pass http://127.0.0.1:{{ reporting_port }}/;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection keep-alive;
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }

    # Redirect root
    location / {
        return 301 /reporting/;
    }
}







