version: '3.8'

services:
{% for service in services %}
{% if service.alt is defined %}
  {{ service.alt }}:
{% else %}
  {{ service.name }}:
{% endif %}
    image: {{ docker_registry }}-{{ service.name }}:latest
{% if service.alt is defined %}
    container_name: {{ service.alt }}
{% else %}
    container_name: {{ service.name }}
{% endif %}
    restart: unless-stopped
    networks:
      - backend
    ports:
      - "{{ service.port }}:{{ service.port }}"
{% if service.allow_gRPC is defined and service.allow_gRPC %}
      - "{{ service.gRPC }}:{{ service.gRPC }}"
{% endif %}
{% if service.env is defined %}
    env_file:
{% for env_file in service.env %}
      - {{ env_file }}
{% endfor %}
{% endif %}
{% if service.volumes is defined %}
    volumes:
{% for volume in service.volumes %}
      - {{ volume }}
{% endfor %}
{% endif %}
{% if service.allow_gRPC is defined and service.allow_gRPC %}
    environment:
      - HTTP_PORT={{ service.port }}
      - GRPC_PORT={{ service.gRPC }}
      - + ASPNETCORE_URLS=http://+:{{ service.port }};http://+:{{ service.gRPC }}
      - ASPNETCORE_HTTP_PORTS={{ service.port }}
{% endif %}
{% endfor %}

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - /var/www/certbot:/var/www/html
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/lib/letsencrypt
    networks:
      - webnet
    command: >
      certonly --webroot
      --webroot-path=/var/www/html
      --email support@Recomind.com
      --agree-tos
      --non-interactive
      --no-eff-email
      --keep-until-expiring
      -d {{ domain_name }}
    restart: "no"

  certbot-renew:
    image: certbot/certbot
    container_name: certbot-renew
    volumes:
      - /var/www/certbot:/var/www/html
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/lib/letsencrypt
    entrypoint: >
      sh -c "trap exit TERM;
      while :; do
        certbot renew --quiet;
        sleep 12h & wait $${!};
      done;"
    networks:
      - webnet
    restart: unless-stopped

networks:
  backend:
    driver: bridge
  webnet:
    driver: bridge

volumes:
  certbot-etc:
  certbot-var:
